# Exploratory Analysis

In [62]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
os.chdir('c:/Users/tyler/OneDrive/Documents/Python/NBA')
os.getcwd()

'c:\\Users\\tyler\\OneDrive\\Documents\\Python\\NBA'

### Load Data

In [64]:
df = pd.read_csv('backend\data\details\game_details.csv', index_col = 0)

Explore

In [65]:
df.head()

,date,visitor,home,team,starter,player,mp,fg,fga,fg_perc,...,orb,drb,trb,ast,stl,blk,tov,pf,pts,plus_minus
0,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,1.0,Kirk Hinrich,34:38,10.0,18.0,0.556,...,0.0,4.0,4.0,3.0,2.0,0.0,0.0,2.0,26.0,23.0
1,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,1.0,Ben Wallace,28:29,2.0,5.0,0.400,...,6.0,5.0,11.0,1.0,0.0,1.0,0.0,2.0,5.0,13.0
2,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,1.0,Luol Deng,24:07,4.0,9.0,0.444,...,1.0,1.0,2.0,1.0,1.0,0.0,3.0,2.0,12.0,8.0
3,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,1.0,Ben Gordon,22:56,1.0,9.0,0.111,...,0.0,1.0,1.0,2.0,1.0,0.0,2.0,3.0,6.0,7.0
4,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,1.0,P.J. Brown,18:23,1.0,2.0,0.500,...,0.0,3.0,3.0,1.0,1.0,1.0,2.0,3.0,4.0,15.0

In [66]:
df.columns

Index(['date', 'visitor', 'home', 'team', 'starter', 'player', 'mp', 'fg',
       'fga', 'fg_perc', '3p', '3pa', '3p_perc', 'ft', 'fta', 'ft_perc', 'orb',
       'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts', 'plus_minus'],
      dtype='object')

Drop duplicates and NA's

In [67]:
df.drop_duplicates(subset = ['date', 'visitor', 'home', 'team', 'player'], inplace = True)

In [68]:
df.dropna(subset = ['player'], inplace = True)

In [69]:
df.isna().sum()

date               0
visitor            0
home               0
team               0
starter            0
player             0
mp                 0
fg                 0
fga                0
fg_perc        22376
3p                 0
3pa                0
3p_perc       154839
ft                 0
fta                0
ft_perc       185026
orb                0
drb                0
trb                0
ast                0
stl                0
blk                0
tov                0
pf                 0
pts                0
plus_minus        75
dtype: int64

Clean data

In [70]:
df['fg_perc'] = df['fg'] / df['fga']
df['3p_perc'] = df['3p'] / df['3pa']
df['ft_perc'] = df['ft'] / df['fta']
df['min'] = df['mp'].apply(lambda x: int(x.split(':')[0]))
df['sec'] = df['mp'].apply(lambda x: int(x.split(':')[-1]))
df['pt'] = df['min'] + df['sec'] / 60
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [71]:
df.describe()

,team,starter,fg,fga,fg_perc,3p,3pa,3p_perc,ft,fta,...,blk,tov,pf,pts,plus_minus,min,sec,pt,year,month
count,526380.000000,526380.000000,526380.000000,526380.000000,415642.000000,526380.000000,526380.000000,283179.000000,526380.000000,526380.000000,...,526380.000000,526380.000000,526380.000000,526380.000000,526305.000000,526380.000000,526380.000000,526380.000000,526380.000000,526380.000000
mean,0.500585,0.398742,3.062140,6.698904,0.442612,0.696871,1.949801,0.325494,1.426952,1.870985,...,0.385972,1.086493,1.637049,8.248102,-0.000025,18.871752,24.401957,19.278452,2014.414972,5.756700
std,0.500000,0.489640,3.124927,6.038618,0.237202,1.201017,2.570178,0.305074,2.236639,2.749087,...,0.801284,1.370012,1.544871,8.356823,9.834385,13.245091,19.278091,13.362211,4.711716,4.346285
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-57.000000,0.000000,0.000000,0.000000,2006.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,0.315789,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-5.000000,6.000000,5.000000,6.516667,2010.000000,2.000000
50%,1.000000,0.000000,2.000000,6.000000,0.450000,0.000000,1.000000,0.333333,0.000000,0.000000,...,0.000000,1.000000,1.000000,6.000000,0.000000,20.000000,23.000000,20.450000,2014.000000,4.000000
75%,1.000000,1.000000,5.000000,10.000000,0.571429,1.000000,3.000000,0.500000,2.000000,3.000000,...,1.000000,2.000000,3.000000,13.000000,5.000000,30.000000,41.000000,30.400000,2018.000000,11.000000
max,1.000000,1.000000,24.000000,50.000000,1.000000,14.000000,24.000000,1.000000,26.000000,39.000000,...,12.000000,12.000000,6.000000,70.000000,57.000000,64.000000,59.000000,64.966667,2022.000000,12.000000

Feature Engineer

In [72]:
x = df.groupby(['date', 'visitor', 'home', 'team'])[['fga', 'orb', 'tov', 'fta']].transform('sum')
df['possessions'] = x.fga - x.orb + x.tov + 0.4 * x.fta

In [ ]:
def

In [59]:
df.sample(2)

,date,visitor,home,team,starter,player,mp,fg,fga,fg_perc,...,stl,blk,tov,pf,pts,plus_minus,min,sec,pt,possessions
352473,"Sun, May 7, 2017",San Antonio Spurs,Houston Rockets,1,0.0,Eric Gordon,32:06,8.0,13.0,0.615385,...,0.0,0.0,0.0,2.0,22.0,8.0,32,6,32.100000,101.0
77078,"Sat, Jan 17, 2009",Portland Trail Blazers,Charlotte Bobcats,0,0.0,Travis Outlaw,27:17,4.0,15.0,0.266667,...,0.0,2.0,0.0,2.0,10.0,-13.0,27,17,27.283333,96.4