# 3 Pointers Made against game_totals.csv

### Import packages

In [43]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
%matplotlib inline
from scipy.stats import pearsonr
import itertools

pd.set_option("display.max_columns", None)

### Set working directory

In [44]:
# Print working directory
cwd = os.getcwd()
print(f'Directory: {cwd}')

# Change working directory
os.chdir('/Users/tyler/OneDrive/Documents/Python/NBA')

# Print working directory
cwd = os.getcwd()
print(f'Directory: {cwd}')

Directory: C:\Users\tyler\OneDrive\Documents\Python\NBA
Directory: C:\Users\tyler\OneDrive\Documents\Python\NBA

## Exploratory Data Analysis

### Import data

In [45]:
df = pd.read_csv('backend/data/totals/game_totals.csv').drop(['Unnamed: 0'], axis=1)

### Basic exploration

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40218 entries, 0 to 40217
Data columns (total 23 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     40218 non-null  object
 1   visitor  40218 non-null  object
 2   home     40218 non-null  object
 3   team     40218 non-null  int64
 4   fg       40202 non-null  float64
 5   fga      40202 non-null  float64
 6   fg_perc  40202 non-null  float64
 7   3p       40202 non-null  float64
 8   3pa      40202 non-null  float64
 9   3p_perc  40202 non-null  float64
 10  ft       40202 non-null  float64
 11  fta      40202 non-null  float64
 12  ft_perc  40202 non-null  float64
 13  orb      40202 non-null  float64
 14  drb      40202 non-null  float64
 15  trb      40202 non-null  float64
 16  ast      40202 non-null  float64
 17  stl      40202 non-null  float64
 18  blk      40202 non-null  float64
 19  tov      40202 non-null  float64
 20  pf       40202 non-null  float64
 21  pts      40202 non-null  float64
 22  starter  16 non-null     float64
dtypes: float64(19), int64(1), object(3)
memory usage: 7.1+ MB

In [47]:
df.head()

,date,visitor,home,team,fg,fga,fg_perc,3p,3pa,3p_perc,ft,fta,ft_perc,orb,drb,trb,ast,stl,blk,tov,pf,pts,starter
0,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,39.0,79.0,0.494,7.0,13.0,0.538,23.0,32.0,0.719,13.0,36.0,49.0,22.0,10.0,5.0,16.0,21.0,108.0,NaN
1,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,1,25.0,65.0,0.385,3.0,17.0,0.176,13.0,22.0,0.591,4.0,25.0,29.0,13.0,6.0,3.0,21.0,24.0,66.0,NaN
2,"Tue, Oct 31, 2006",Phoenix Suns,Los Angeles Lakers,0,40.0,77.0,0.519,13.0,30.0,0.433,13.0,17.0,0.765,4.0,25.0,29.0,29.0,7.0,5.0,21.0,25.0,106.0,NaN
3,"Tue, Oct 31, 2006",Phoenix Suns,Los Angeles Lakers,1,46.0,83.0,0.554,6.0,12.0,0.500,16.0,24.0,0.667,12.0,31.0,43.0,30.0,11.0,1.0,20.0,19.0,114.0,NaN
4,"Wed, Nov 1, 2006",Indiana Pacers,Charlotte Bobcats,0,35.0,86.0,0.407,6.0,16.0,0.375,30.0,41.0,0.732,18.0,32.0,50.0,26.0,14.0,5.0,17.0,26.0,106.0,NaN

In [48]:
# Convert 'date' column to Date object
df['date'] = pd.to_datetime(df['date'])


# Conver 'team' column to Team Name
df['team'] = np.where(df['team'], df['home'], df['visitor'])


# Merge in opponents (see team defensive stats)
df = pd.merge(
    df, 
    df, 
    left_on=['date', 'visitor', 'home'], 
    right_on=['date', 'visitor', 'home'],
    suffixes=('', '_opp'),
    how='left')

df = df[df['team'] != df['team_opp']]


df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40218 entries, 1 to 80434
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         40218 non-null  datetime64[ns]
 1   visitor      40218 non-null  object
 2   home         40218 non-null  object
 3   team         40218 non-null  object
 4   fg           40202 non-null  float64
 5   fga          40202 non-null  float64
 6   fg_perc      40202 non-null  float64
 7   3p           40202 non-null  float64
 8   3pa          40202 non-null  float64
 9   3p_perc      40202 non-null  float64
 10  ft           40202 non-null  float64
 11  fta          40202 non-null  float64
 12  ft_perc      40202 non-null  float64
 13  orb          40202 non-null  float64
 14  drb          40202 non-null  float64
 15  trb          40202 non-null  float64
 16  ast          40202 non-null  float64
 17  stl          40202 non-null  float64
 18  blk          40202 non-null  float64
 19  tov          40202 non-null  float64
 20  pf           40202 non-null  float64
 21  pts          40202 non-null  float64
 22  starter      16 non-null     float64
 23  team_opp     40218 non-null  object
 24  fg_opp       40202 non-null  float64
 25  fga_opp      40202 non-null  float64
 26  fg_perc_opp  40202 non-null  float64
 27  3p_opp       40202 non-null  float64
 28  3pa_opp      40202 non-null  float64
 29  3p_perc_opp  40202 non-null  float64
 30  ft_opp       40202 non-null  float64
 31  fta_opp      40202 non-null  float64
 32  ft_perc_opp  40202 non-null  float64
 33  orb_opp      40202 non-null  float64
 34  drb_opp      40202 non-null  float64
 35  trb_opp      40202 non-null  float64
 36  ast_opp      40202 non-null  float64
 37  stl_opp      40202 non-null  float64
 38  blk_opp      40202 non-null  float64
 39  tov_opp      40202 non-null  float64
 40  pf_opp       40202 non-null  float64
 41  pts_opp      40202 non-null  float64
 42  starter_opp  16 non-null     float64
dtypes: datetime64[ns](1), float64(38), object(4)
memory usage: 13.5+ MB

# Dataframe of team's last 15 performances

In [49]:
# Return ten lastest dates team played
def last_15_date(team, date):
    schedule = df[df['team'] == team].sort_values(by='date').reset_index()
    date_index = schedule[schedule['date'] == date].index[0]
    if date_index - 15 < 0:
        return None, None, None, None, None, None, None, None, None, None, None, None, None, None, None
    else:
        date_1, date_2 = schedule.iloc[date_index - 1]['date'], schedule.iloc[date_index - 2]['date']
        date_3, date_4 = schedule.iloc[date_index - 3]['date'], schedule.iloc[date_index - 4]['date']
        date_5, date_6 = schedule.iloc[date_index - 5]['date'], schedule.iloc[date_index - 6]['date']
        date_7, date_8 = schedule.iloc[date_index - 7]['date'], schedule.iloc[date_index - 8]['date']
        date_9, date_10 = schedule.iloc[date_index - 9]['date'], schedule.iloc[date_index - 10]['date']
        date_11, date_12 = schedule.iloc[date_index - 11]['date'], schedule.iloc[date_index - 12]['date']
        date_13, date_14 = schedule.iloc[date_index - 13]['date'], schedule.iloc[date_index - 14]['date']
        date_15 = schedule.iloc[date_index - 15]['date']
        return date_1, date_2, date_3, date_4, date_5, date_6, date_7, date_8, date_9, date_10, date_11, date_12, date_13, date_14, date_15

df['dates'] = df.apply(lambda x: last_15_date(x.team, x.date), axis=1)
df['date_1'], df['date_2'] = df['dates'].apply(lambda x: x[0]), df['dates'].apply(lambda x: x[1])
df['date_3'], df['date_4'] = df['dates'].apply(lambda x: x[2]), df['dates'].apply(lambda x: x[3])
df['date_5'], df['date_6'] = df['dates'].apply(lambda x: x[4]), df['dates'].apply(lambda x: x[5])
df['date_7'], df['date_8'] = df['dates'].apply(lambda x: x[6]), df['dates'].apply(lambda x: x[7])
df['date_9'], df['date_10'] = df['dates'].apply(lambda x: x[8]), df['dates'].apply(lambda x: x[9])
df['date_11'], df['date_12'] = df['dates'].apply(lambda x: x[10]), df['dates'].apply(lambda x: x[11])
df['date_13'], df['date_14'] = df['dates'].apply(lambda x: x[12]), df['dates'].apply(lambda x: x[13])
df['date_15'] = df['dates'].apply(lambda x: x[14])

In [50]:
# Statistics
stats = ['fg', 'fga', '3p', '3pa', 'ft', 'fta', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts',
         'fg_opp', 'fga_opp', '3p_opp', '3pa_opp', 'ft_opp', 'fta_opp', 'orb_opp', 'drb_opp', 'trb_opp', 'ast_opp', 
         'stl_opp', 'blk_opp', 'tov_opp', 'pf_opp', 'pts_opp']

# X and y column names to merge on
x_cols = ['date', 'team'] + stats

last_15_games = df.copy()
last_15_games.loc[:, 'target'] = last_15_games.loc[:, '3p']
X = df[x_cols].copy()

# Dataframe of target (3pt made by each team) and of variables (last 5 games stats for each team)
dates = ['_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11', '_12', '_13', '_14', '_15']
for date in dates:
    last_15_games = pd.merge(last_15_games, X, left_on=['date' + date, 'team'], right_on=['date', 'team'], how='left', suffixes=('', date))

In [51]:
# Calculate z-score
def z_score(value, mean, std):
    return (value - mean) / std

### Last 15 Performances (Unweighted)

In [52]:
dates = ['_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11', '_12', '_13', '_14', '_15']
cols = ['date', 'visitor', 'home', 'team', 'target'] + \
    [tup[0] + tup[1] for tup in list(itertools.product(stats, dates))]

last_15 = last_15_games[cols].copy()

# Calculate mean for each stat over a team's last performance
for stat in stats:
    last_15[stat] = 0
    for date in dates:
        last_15[stat] = last_15[stat] + last_15[stat + date]
    
    last_15[stat] = last_15[stat] / len(dates)
    
# Calculate standard deviation for each stat over a team's performance
for stat in stats:
    last_15[stat + '_std'] = 0
    for date in dates:
        last_15[stat + '_std'] = last_15[stat + '_std'] + ((last_15[stat + date] - last_15[stat]) ** 2)
    
    last_15[stat + '_std'] = last_15[stat + '_std'] / len(dates)
    last_15[stat + '_std'] = last_15[stat + '_std'] ** .5

# Feature engineer trends
for stat in stats:
    last_15[stat + '_trend'] = 0
    for date in dates[:3]:
        last_15[stat + '_trend'] = last_15[stat + '_trend'] + \
                                        z_score(last_15[stat + date], last_15[stat], last_15[stat + '_std']).fillna(0)
    
    last_15[stat + '_trend'] = last_15[stat + '_trend'] / len(dates[:3])

last_15 = last_15.groupby(['date', 'visitor', 'home']).sum()

# Standard deviation and trending cols
std_cols = [stat + '_std' for stat in stats]
trend_cols = [stat + '_trend' for stat in stats]

# Keep columns
last_15 = last_15[['target'] + stats + std_cols + trend_cols].dropna(axis=0)

# Calculate percentages
last_15['fg_perc'] = last_15['fg'] / last_15['fga']
last_15['fg_perc_opp'] = last_15['fg_opp'] / last_15['fga_opp']

last_15['3p_perc'] = last_15['3p'] / last_15['3pa']
last_15['3p_perc_opp'] = last_15['3p_opp'] / last_15['3pa_opp']

last_15['ft_perc'] = last_15['ft'] / last_15['fta']
last_15['ft_perc_opp'] = last_15['ft_opp'] / last_15['fta_opp']

# Calculate advanced stats
last_15['ts_perc'] = last_15['pts'] / (2 * (last_15['fga'] + .44 * last_15['fta']))
last_15['ts_perc_opp'] = last_15['pts_opp'] / (2 * (last_15['fga_opp'] + .44 * last_15['fta_opp']))

last_15['efg_perc'] = (last_15['fg'] + (.5 * last_15['3p'])) / last_15['fga']
last_15['efg_perc_opp'] = (last_15['fg_opp'] + (.5 * last_15['3p_opp'])) / last_15['fga_opp']

last_15['3par'] = last_15['3pa'] / last_15['fga']
last_15['3par_opp'] = last_15['3pa_opp'] / last_15['fga_opp']

last_15['ftr'] = last_15['fta'] / last_15['fga']
last_15['ftr_opp'] = last_15['fta_opp'] / last_15['fga_opp']

last_15['orb_perc'] = last_15['orb'] / (last_15['orb'] + last_15['drb_opp'])
last_15['orb_perc_opp'] = last_15['orb_opp'] / (last_15['orb_opp'] + last_15['drb'])

last_15['drb_perc'] = last_15['drb'] / (last_15['drb'] + last_15['orb_opp'])
last_15['drb_perc_opp'] = last_15['drb_opp'] / (last_15['drb_opp'] + last_15['orb'])

last_15['trb_perc'] = last_15['trb'] / (last_15['trb'] + last_15['trb_opp'])
last_15['trb_perc_opp'] = last_15['trb_opp'] / (last_15['trb_opp'] + last_15['trb'])

last_15['ast_perc'] = last_15['ast'] / last_15['fg']
last_15['ast_perc_opp'] = last_15['ast_opp'] / last_15['fg_opp']
        
last_15 = last_15.dropna(axis=0)
last_15.tail(5)

                                                       target         fg  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            0.0  84.600000
           New York Knicks      Los Angeles Clippers      0.0  81.066667
           Phoenix Suns         Milwaukee Bucks           0.0  87.266667
           Toronto Raptors      Cleveland Cavaliers       0.0  79.933333
           Utah Jazz            Oklahoma City Thunder     0.0  80.466667

                                                              fga         3p  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         171.800000  24.200000
           New York Knicks      Los Angeles Clippers   177.466667  25.200000
           Phoenix Suns         Milwaukee Bucks        177.066667  24.800000
           Toronto Raptors      Cleveland Cavaliers    172.600000  22.933333
           Utah Jazz            Oklahoma City Thunder  176.000000  25.600000

                                                             3pa         ft  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         69.333333  36.200000
           New York Knicks      Los Angeles Clippers   69.866667  34.600000
           Phoenix Suns         Milwaukee Bucks        69.200000  36.933333
           Toronto Raptors      Cleveland Cavaliers    62.066667  34.466667
           Utah Jazz            Oklahoma City Thunder  74.600000  32.066667

                                                             fta        orb  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         44.600000  19.933333
           New York Knicks      Los Angeles Clippers   46.866667  22.000000
           Phoenix Suns         Milwaukee Bucks        47.533333  18.333333
           Toronto Raptors      Cleveland Cavaliers    45.800000  23.400000
           Utah Jazz            Oklahoma City Thunder  41.733333  21.666667

                                                             drb        trb  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         71.000000  90.933333
           New York Knicks      Los Angeles Clippers   70.933333  92.933333
           Phoenix Suns         Milwaukee Bucks        71.133333  89.466667
           Toronto Raptors      Cleveland Cavaliers    63.600000  87.000000
           Utah Jazz            Oklahoma City Thunder  69.733333  91.400000

                                                             ast        stl  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         53.666667  15.600000
           New York Knicks      Los Angeles Clippers   47.800000  14.533333
           Phoenix Suns         Milwaukee Bucks        54.000000  15.333333
           Toronto Raptors      Cleveland Cavaliers    46.666667  15.000000
           Utah Jazz            Oklahoma City Thunder  46.533333  16.866667

                                                             blk        tov  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          8.000000  28.400000
           New York Knicks      Los Angeles Clippers   10.466667  26.666667
           Phoenix Suns         Milwaukee Bucks         7.666667  23.266667
           Toronto Raptors      Cleveland Cavaliers     8.066667  25.466667
           Utah Jazz            Oklahoma City Thunder   9.133333  28.200000

                                                              pf         pts  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         40.133333  229.600000
           New York Knicks      Los Angeles Clippers   42.333333  221.933333
           Phoenix Suns         Milwaukee Bucks        38.200000  236.266667
           Toronto Raptors      Cleveland Cavaliers    38.200000  217.266667
           Utah Jazz            Oklahoma City Thunder  36.133333  218.600000

                                                          fg_opp     fga_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         78.733333  173.600000
           New York Knicks      Los Angeles Clippers   82.266667  178.200000
           Phoenix Suns         Milwaukee Bucks        83.333333  179.266667
           Toronto Raptors      Cleveland Cavaliers    79.133333  170.800000
           Utah Jazz            Oklahoma City Thunder  84.466667  179.133333

                                                          3p_opp    3pa_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         23.066667  71.733333
           New York Knicks      Los Angeles Clippers   26.266667  72.266667
           Phoenix Suns         Milwaukee Bucks        26.733333  72.733333
           Toronto Raptors      Cleveland Cavaliers    24.133333  68.666667
           Utah Jazz            Oklahoma City Thunder  24.200000  70.800000

                                                          ft_opp    fta_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         33.466667  44.533333
           New York Knicks      Los Angeles Clippers   36.600000  47.933333
           Phoenix Suns         Milwaukee Bucks        32.066667  43.733333
           Toronto Raptors      Cleveland Cavaliers    34.133333  41.800000
           Utah Jazz            Oklahoma City Thunder  29.266667  38.866667

                                                         orb_opp    drb_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         20.133333  61.066667
           New York Knicks      Los Angeles Clippers   20.266667  69.600000
           Phoenix Suns         Milwaukee Bucks        19.200000  66.666667
           Toronto Raptors      Cleveland Cavaliers    20.666667  66.000000
           Utah Jazz            Oklahoma City Thunder  21.400000  67.733333

                                                         trb_opp    ast_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         81.200000  46.466667
           New York Knicks      Los Angeles Clippers   89.866667  50.733333
           Phoenix Suns         Milwaukee Bucks        85.866667  49.400000
           Toronto Raptors      Cleveland Cavaliers    86.666667  51.533333
           Utah Jazz            Oklahoma City Thunder  89.133333  50.333333

                                                         stl_opp    blk_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         16.666667   9.866667
           New York Knicks      Los Angeles Clippers   14.400000   7.533333
           Phoenix Suns         Milwaukee Bucks        14.133333   7.266667
           Toronto Raptors      Cleveland Cavaliers    15.600000   9.533333
           Utah Jazz            Oklahoma City Thunder  18.333333  10.733333

                                                         tov_opp     pf_opp  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         25.533333  39.466667
           New York Knicks      Los Angeles Clippers   24.200000  40.000000
           Phoenix Suns         Milwaukee Bucks        24.133333  40.133333
           Toronto Raptors      Cleveland Cavaliers    27.933333  42.333333
           Utah Jazz            Oklahoma City Thunder  26.933333  37.466667

                                                          pts_opp     fg_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         214.000000   9.886390
           New York Knicks      Los Angeles Clippers   227.400000   8.446498
           Phoenix Suns         Milwaukee Bucks        225.466667   9.355114
           Toronto Raptors      Cleveland Cavaliers    216.533333   9.777788
           Utah Jazz            Oklahoma City Thunder  222.400000  10.128911

                                                         fga_std    3p_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         10.259464  6.187649
           New York Knicks      Los Angeles Clippers   14.652945  5.695342
           Phoenix Suns         Milwaukee Bucks        12.684448  6.866339
           Toronto Raptors      Cleveland Cavaliers    12.375248  7.004174
           Utah Jazz            Oklahoma City Thunder  11.376002  6.102871

                                                         3pa_std     ft_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          8.948061  11.195034
           New York Knicks      Los Angeles Clippers   12.220969  10.807921
           Phoenix Suns         Milwaukee Bucks         9.901455  13.074387
           Toronto Raptors      Cleveland Cavaliers    12.034208   9.502240
           Utah Jazz            Oklahoma City Thunder  10.928970   6.697071

                                                         fta_std   orb_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         13.909174  7.272905
           New York Knicks      Los Angeles Clippers   14.083500  7.274912
           Phoenix Suns         Milwaukee Bucks        15.200188  7.064004
           Toronto Raptors      Cleveland Cavaliers    12.540332  7.500617
           Utah Jazz            Oklahoma City Thunder   8.703187  7.012858

                                                         drb_std    trb_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         10.840230  12.995320
           New York Knicks      Los Angeles Clippers   10.948379  12.820367
           Phoenix Suns         Milwaukee Bucks        10.424719  14.105190
           Toronto Raptors      Cleveland Cavaliers     9.806709  12.305384
           Utah Jazz            Oklahoma City Thunder   8.685121  10.863236

                                                         ast_std   stl_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          9.073229  5.550843
           New York Knicks      Los Angeles Clippers    6.426892  4.330554
           Phoenix Suns         Milwaukee Bucks         9.055337  4.677882
           Toronto Raptors      Cleveland Cavaliers    10.240059  6.007942
           Utah Jazz            Oklahoma City Thunder   8.421910  5.170121

                                                        blk_std   tov_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         4.220696  6.175142
           New York Knicks      Los Angeles Clippers   5.776948  6.596166
           Phoenix Suns         Milwaukee Bucks        3.611570  5.656193
           Toronto Raptors      Cleveland Cavaliers    4.026096  5.756462
           Utah Jazz            Oklahoma City Thunder  4.374161  7.552886

                                                         pf_std    pts_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets         6.302805  20.292605
           New York Knicks      Los Angeles Clippers   6.537357  18.656933
           Phoenix Suns         Milwaukee Bucks        8.813958  22.156838
           Toronto Raptors      Cleveland Cavaliers    8.255844  24.014847
           Utah Jazz            Oklahoma City Thunder  8.094260  23.402115

                                                       fg_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           8.990096
           New York Knicks      Los Angeles Clippers     9.203508
           Phoenix Suns         Milwaukee Bucks          9.172866
           Toronto Raptors      Cleveland Cavaliers      9.631883
           Utah Jazz            Oklahoma City Thunder   10.005566

                                                       fga_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           11.213741
           New York Knicks      Los Angeles Clippers     14.756422
           Phoenix Suns         Milwaukee Bucks          10.941024
           Toronto Raptors      Cleveland Cavaliers      11.934652
           Utah Jazz            Oklahoma City Thunder    14.317108

                                                       3p_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           7.356204
           New York Knicks      Los Angeles Clippers     5.920225
           Phoenix Suns         Milwaukee Bucks          8.026822
           Toronto Raptors      Cleveland Cavaliers      6.152380
           Utah Jazz            Oklahoma City Thunder    7.513233

                                                       3pa_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            9.893449
           New York Knicks      Los Angeles Clippers      9.790111
           Phoenix Suns         Milwaukee Bucks          11.711332
           Toronto Raptors      Cleveland Cavaliers      11.753864
           Utah Jazz            Oklahoma City Thunder    14.883907

                                                       ft_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           8.319302
           New York Knicks      Los Angeles Clippers    12.329898
           Phoenix Suns         Milwaukee Bucks         12.341939
           Toronto Raptors      Cleveland Cavaliers     10.690252
           Utah Jazz            Oklahoma City Thunder    9.627632

                                                       fta_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           11.077884
           New York Knicks      Los Angeles Clippers     12.208569
           Phoenix Suns         Milwaukee Bucks          15.974672
           Toronto Raptors      Cleveland Cavaliers      13.037422
           Utah Jazz            Oklahoma City Thunder    13.513622

                                                       orb_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            8.863246
           New York Knicks      Los Angeles Clippers      7.733714
           Phoenix Suns         Milwaukee Bucks           5.940891
           Toronto Raptors      Cleveland Cavaliers       7.018251
           Utah Jazz            Oklahoma City Thunder     8.881769

                                                       drb_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            7.607796
           New York Knicks      Los Angeles Clippers      9.312021
           Phoenix Suns         Milwaukee Bucks           8.230169
           Toronto Raptors      Cleveland Cavaliers       9.476826
           Utah Jazz            Oklahoma City Thunder     8.848884

                                                       trb_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           12.413452
           New York Knicks      Los Angeles Clippers     12.650741
           Phoenix Suns         Milwaukee Bucks           9.770386
           Toronto Raptors      Cleveland Cavaliers      12.076753
           Utah Jazz            Oklahoma City Thunder    13.365717

                                                       ast_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            9.079202
           New York Knicks      Los Angeles Clippers      8.067359
           Phoenix Suns         Milwaukee Bucks           8.422183
           Toronto Raptors      Cleveland Cavaliers       7.511042
           Utah Jazz            Oklahoma City Thunder    10.367188

                                                       stl_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            5.324792
           New York Knicks      Los Angeles Clippers      5.533544
           Phoenix Suns         Milwaukee Bucks           4.452179
           Toronto Raptors      Cleveland Cavaliers       4.972978
           Utah Jazz            Oklahoma City Thunder     5.623188

                                                       blk_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            4.515496
           New York Knicks      Los Angeles Clippers      4.301778
           Phoenix Suns         Milwaukee Bucks           3.683495
           Toronto Raptors      Cleveland Cavaliers       3.718418
           Utah Jazz            Oklahoma City Thunder     4.671855

                                                       tov_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets            8.093497
           New York Knicks      Los Angeles Clippers      6.179555
           Phoenix Suns         Milwaukee Bucks           5.421372
           Toronto Raptors      Cleveland Cavaliers       7.569839
           Utah Jazz            Oklahoma City Thunder     4.734880

                                                       pf_opp_std  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           7.827729
           New York Knicks      Los Angeles Clippers     6.790844
           Phoenix Suns         Milwaukee Bucks          7.947617
           Toronto Raptors      Cleveland Cavaliers      6.945187
           Utah Jazz            Oklahoma City Thunder    6.696999

                                                       pts_opp_std  fg_trend  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets           19.965756  1.157368
           New York Knicks      Los Angeles Clippers     21.610127  0.085767
           Phoenix Suns         Milwaukee Bucks          21.713129 -1.109679
           Toronto Raptors      Cleveland Cavaliers      24.357814 -0.149678
           Utah Jazz            Oklahoma City Thunder    25.326211  0.301138

                                                       fga_trend  3p_trend  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          1.371875  0.004436
           New York Knicks      Los Angeles Clippers   -0.179388 -0.520071
           Phoenix Suns         Milwaukee Bucks        -0.369519  1.261040
           Toronto Raptors      Cleveland Cavaliers    -1.113226 -0.695790
           Utah Jazz            Oklahoma City Thunder   0.366133  0.238088

                                                       3pa_trend  ft_trend  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          0.245094 -0.300859
           New York Knicks      Los Angeles Clippers   -1.584266  0.624173
           Phoenix Suns         Milwaukee Bucks         0.235768  1.494871
           Toronto Raptors      Cleveland Cavaliers    -0.291295  1.295205
           Utah Jazz            Oklahoma City Thunder  -0.217022  0.179243

                                                       fta_trend  orb_trend  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          0.034180   0.198323
           New York Knicks      Los Angeles Clippers    0.757441   0.845992
           Phoenix Suns         Milwaukee Bucks         1.267350   0.693828
           Toronto Raptors      Cleveland Cavaliers     0.935980  -0.410155
           Utah Jazz            Oklahoma City Thunder   1.064167   0.495428

                                                       drb_trend  trb_trend  \
date       visitor              home
2022-03-06 New Orleans Pelicans Denver Nuggets          1.281092   1.208809
           New York Knicks      Los Angeles Clippers    0.343336   0.635157
           Phoenix Suns         Milwaukee Bucks         0.363028   0.670655
           Toronto Raptors      Cleveland Cavaliers     0.070402  -0.121541

## Correlations

In [53]:
corr_df = pd.DataFrame()

# Correlations for last 15 game stats vs 3pt made (unweighted)
for col in last_15:
    corr_p = pearsonr(last_15['target'], last_15[col])
    row = {'stat': col, 'corr': round(corr_p[0], 2), 'p-value': round(corr_p[1], 2)}
    corr_df = corr_df.append(row, ignore_index=True)
    
# Print correlations
corr_df = corr_df[corr_df['p-value'] < .05].drop(['p-value'], axis=1).sort_values(['corr'], axis=0, ascending=False)
corr_df

     corr          stat
0    1.00        target
4    0.74           3pa
101  0.74          3par
3    0.73            3p
19   0.69       3pa_opp
..    ...           ...
7   -0.29           orb
103 -0.39           ftr
104 -0.42       ftr_opp
106 -0.46  orb_perc_opp
105 -0.49      orb_perc

[89 rows x 2 columns]

## Save dataframe with significantly correlated stats

In [63]:
stats = corr_df[corr_df['corr'].abs() >= .6]['stat']
df = last_15[stats]

df.to_csv('backend/data/inputs/3p/game_totals.csv')