# 3 Pointers Made against shooting.csv

### Import packages

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
%matplotlib inline
from scipy.stats import pearsonr
import itertools

pd.set_option("display.max_columns", None)

### Set working directory

In [2]:
# Print working directory
cwd = os.getcwd()
print(f'Directory: {cwd}')

# Change working directory
os.chdir('/Users/tyler/OneDrive/Documents/Python/NBA')

# Print working directory
cwd = os.getcwd()
print(f'Directory: {cwd}')

Directory: C:\Users\tyler\OneDrive\Documents\Python\NBA\backend\analysis\3p
Directory: C:\Users\tyler\OneDrive\Documents\Python\NBA

## Exploratory Data Analysis

### Import data

In [3]:
df = pd.read_csv('backend/data/shooting.csv').drop(['Unnamed: 0'], axis=1)

### Basic exploration

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203932 entries, 0 to 203931
Data columns (total 17 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      203932 non-null  object
 1   visitor   203932 non-null  object
 2   home      203932 non-null  object
 3   team      203932 non-null  int64
 4   quarter   203910 non-null  object
 5   fg        203894 non-null  float64
 6   fga       203894 non-null  float64
 7   fg_perc   203894 non-null  float64
 8   2p        203894 non-null  float64
 9   2pa       203894 non-null  float64
 10  2p_perc   203891 non-null  float64
 11  3p        203894 non-null  float64
 12  3pa       203894 non-null  float64
 13  3p_perc   202431 non-null  float64
 14  efg_perc  203894 non-null  float64
 15  ast       203894 non-null  float64
 16  ast_perc  203871 non-null  float64
dtypes: float64(12), int64(1), object(4)
memory usage: 26.5+ MB

In [5]:
df.head()

,date,visitor,home,team,quarter,fg,fga,fg_perc,2p,2pa,2p_perc,3p,3pa,3p_perc,efg_perc,ast,ast_perc
0,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,q1,5.0,20.0,0.250,5.0,16.0,0.313,0.0,4.0,0.000,0.250,3.0,0.600
1,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,q2,15.0,19.0,0.789,12.0,16.0,0.750,3.0,3.0,1.000,0.868,10.0,0.667
2,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,q3,8.0,21.0,0.381,5.0,16.0,0.313,3.0,5.0,0.600,0.452,4.0,0.500
3,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,q4,11.0,19.0,0.579,10.0,18.0,0.556,1.0,1.0,1.000,0.605,5.0,0.455
4,"Tue, Oct 31, 2006",Chicago Bulls,Miami Heat,0,total,39.0,79.0,0.494,32.0,66.0,0.485,7.0,13.0,0.538,0.538,22.0,0.564

In [6]:
# Convert 'date' column to Date object
df['date'] = pd.to_datetime(df['date'])


# Conver 'team' column to Team Name
df['team'] = np.where(df['team'], df['home'], df['visitor'])


# Merge in opponents (see team defensive stats)
df = pd.merge(
    df, 
    df, 
    left_on=['date', 'visitor', 'home', 'quarter'], 
    right_on=['date', 'visitor', 'home', 'quarter'],
    suffixes=('', '_opp'),
    how='left')

df = df[df['team'] != df['team_opp']]


df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203932 entries, 1 to 407862
Data columns (total 30 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          203932 non-null  datetime64[ns]
 1   visitor       203932 non-null  object
 2   home          203932 non-null  object
 3   team          203932 non-null  object
 4   quarter       203910 non-null  object
 5   fg            203894 non-null  float64
 6   fga           203894 non-null  float64
 7   fg_perc       203894 non-null  float64
 8   2p            203894 non-null  float64
 9   2pa           203894 non-null  float64
 10  2p_perc       203891 non-null  float64
 11  3p            203894 non-null  float64
 12  3pa           203894 non-null  float64
 13  3p_perc       202431 non-null  float64
 14  efg_perc      203894 non-null  float64
 15  ast           203894 non-null  float64
 16  ast_perc      203871 non-null  float64
 17  team_opp      203932 non-null  object
 18  fg_opp        203894 non-null  float64
 19  fga_opp       203894 non-null  float64
 20  fg_perc_opp   203894 non-null  float64
 21  2p_opp        203894 non-null  float64
 22  2pa_opp       203894 non-null  float64
 23  2p_perc_opp   203891 non-null  float64
 24  3p_opp        203894 non-null  float64
 25  3pa_opp       203894 non-null  float64
 26  3p_perc_opp   202431 non-null  float64
 27  efg_perc_opp  203894 non-null  float64
 28  ast_opp       203894 non-null  float64
 29  ast_perc_opp  203871 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(5)
memory usage: 48.2+ MB

In [7]:
total_df = df[df['quarter'] == 'total']
q1_df = df[df['quarter'] == 'q1']
q2_df = df[df['quarter'] == 'q2']
q3_df = df[df['quarter'] == 'q3']
q4_df = df[df['quarter'] == 'q4']

In [8]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40234 entries, 9 to 407862
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          40234 non-null  datetime64[ns]
 1   visitor       40234 non-null  object
 2   home          40234 non-null  object
 3   team          40234 non-null  object
 4   quarter       40234 non-null  object
 5   fg            40218 non-null  float64
 6   fga           40218 non-null  float64
 7   fg_perc       40218 non-null  float64
 8   2p            40218 non-null  float64
 9   2pa           40218 non-null  float64
 10  2p_perc       40218 non-null  float64
 11  3p            40218 non-null  float64
 12  3pa           40218 non-null  float64
 13  3p_perc       40218 non-null  float64
 14  efg_perc      40218 non-null  float64
 15  ast           40218 non-null  float64
 16  ast_perc      40218 non-null  float64
 17  team_opp      40234 non-null  object
 18  fg_opp        40218 non-null  float64
 19  fga_opp       40218 non-null  float64
 20  fg_perc_opp   40218 non-null  float64
 21  2p_opp        40218 non-null  float64
 22  2pa_opp       40218 non-null  float64
 23  2p_perc_opp   40218 non-null  float64
 24  3p_opp        40218 non-null  float64
 25  3pa_opp       40218 non-null  float64
 26  3p_perc_opp   40218 non-null  float64
 27  efg_perc_opp  40218 non-null  float64
 28  ast_opp       40218 non-null  float64
 29  ast_perc_opp  40218 non-null  float64
dtypes: datetime64[ns](1), float64(24), object(5)
memory usage: 9.5+ MB

# Dataframe of team's last 15 performances

In [9]:
# Totals
total_df = df[df['quarter'] == 'total'].copy()

# Return ten lastest dates team played
def last_15_date(team, date):
    schedule = total_df[total_df['team'] == team].sort_values(by='date').reset_index()
    date_index = schedule[schedule['date'] == date].index[0]
    if date_index - 15 < 0:
        return None, None, None, None, None, None, None, None, None, None, None, None, None, None, None
    else:
        date_1, date_2 = schedule.iloc[date_index - 1]['date'], schedule.iloc[date_index - 2]['date']
        date_3, date_4 = schedule.iloc[date_index - 3]['date'], schedule.iloc[date_index - 4]['date']
        date_5, date_6 = schedule.iloc[date_index - 5]['date'], schedule.iloc[date_index - 6]['date']
        date_7, date_8 = schedule.iloc[date_index - 7]['date'], schedule.iloc[date_index - 8]['date']
        date_9, date_10 = schedule.iloc[date_index - 9]['date'], schedule.iloc[date_index - 10]['date']
        date_11, date_12 = schedule.iloc[date_index - 11]['date'], schedule.iloc[date_index - 12]['date']
        date_13, date_14 = schedule.iloc[date_index - 13]['date'], schedule.iloc[date_index - 14]['date']
        date_15 = schedule.iloc[date_index - 15]['date']
        return date_1, date_2, date_3, date_4, date_5, date_6, date_7, date_8, date_9, date_10, date_11, date_12, date_13, date_14, date_15

total_df['dates'] = total_df.apply(lambda x: last_15_date(x.team, x.date), axis=1)
total_df['date_1'], total_df['date_2'] = total_df['dates'].apply(lambda x: x[0]), total_df['dates'].apply(lambda x: x[1])
total_df['date_3'], total_df['date_4'] = total_df['dates'].apply(lambda x: x[2]), total_df['dates'].apply(lambda x: x[3])
total_df['date_5'], total_df['date_6'] = total_df['dates'].apply(lambda x: x[4]), total_df['dates'].apply(lambda x: x[5])
total_df['date_7'], total_df['date_8'] = total_df['dates'].apply(lambda x: x[6]), total_df['dates'].apply(lambda x: x[7])
total_df['date_9'], total_df['date_10'] = total_df['dates'].apply(lambda x: x[8]), total_df['dates'].apply(lambda x: x[9])
total_df['date_11'], total_df['date_12'] = total_df['dates'].apply(lambda x: x[10]), total_df['dates'].apply(lambda x: x[11])
total_df['date_13'], total_df['date_14'] = total_df['dates'].apply(lambda x: x[12]), total_df['dates'].apply(lambda x: x[13])
total_df['date_15'] = total_df['dates'].apply(lambda x: x[14])

In [37]:
# Define statistics
stats = ['fg', 'fga', '2p', '2pa', '3p', '3pa', 'ast',
         'fg_opp', 'fga_opp', '2p_opp', '2pa_opp', '3p_opp', '3pa_opp', 'ast_opp']

perc_stats = ['fg_perc', '2p_perc', '3p_perc', 'efg_perc', 'ast_perc',
              'fg_perc_opp', '2p_perc_opp', '3p_perc_opp', 'efg_perc_opp', 'ast_perc_opp']

# X and y column names to merge on
x_cols = ['date', 'team'] + stats

last_15_games = total_df.copy()
last_15_games.loc[:, 'target'] = last_15_games.loc[:, '3p']
X = total_df[x_cols].copy()

# Dataframe of target (3pt made by each team) and of variables (last 5 games stats for each team)
dates = ['_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11', '_12', '_13', '_14', '_15']
for date in dates:
    last_15_games = pd.merge(last_15_games, X, left_on=['date' + date, 'team'], right_on=['date', 'team'], how='left', suffixes=('', date))

In [19]:
# Calculate z-score
def z_score(value, mean, std):
    return (value - mean) / std

### Last 15 Performances (Unweighted)

In [42]:
# Define statistics
stats = ['fg', 'fga', '2p', '2pa', '3p', '3pa', 'ast',
         'fg_opp', 'fga_opp', '2p_opp', '2pa_opp', '3p_opp', '3pa_opp', 'ast_opp']

perc_stats = ['fg_perc', '2p_perc', '3p_perc', 'efg_perc', 'ast_perc',
              'fg_perc_opp', '2p_perc_opp', '3p_perc_opp', 'efg_perc_opp', 'ast_perc_opp']

dates = ['_1', '_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11', '_12', '_13', '_14', '_15']

last_15 = last_15_games.copy()

# Calculate mean for each stat over a team's last performance
for stat in stats:
    last_15[stat] = 0
    for date in dates:
        last_15[stat] = last_15[stat] + last_15[stat + date]
    
    last_15[stat] = last_15[stat] / len(dates)
    
# Calculate standard deviation for each stat over a team's last 15 game performance
for stat in stats:
    last_15[stat + '_std'] = 0
    for date in dates:
        last_15[stat + '_std'] = last_15[stat + '_std'] + ((last_15[stat + date] - last_15[stat]) ** 2)
    
    last_15[stat + '_std'] = last_15[stat + '_std'] / len(dates)
    last_15[stat + '_std'] = last_15[stat + '_std'] ** .5

# Feature engineer trends (how a team is trending in their last 3 games)
for stat in stats:
    last_15[stat + '_trend'] = 0
    for date in dates[:3]:
        last_15[stat + '_trend'] = \
                            last_15[stat + '_trend'] + \
                            z_score(last_15[stat + date], last_15[stat], last_15[stat + '_std']).fillna(0)
    
    last_15[stat + '_trend'] = last_15[stat + '_trend'] / len(dates[:3])

# Sum stats for opposing teams for each game
last_15 = last_15.groupby(['date', 'visitor', 'home']).sum()

# Standard deviation and trending cols
std_cols = [stat + '_std' for stat in stats]
trend_cols = [stat + '_trend' for stat in stats]

# Keep columns
last_15 = last_15[['target'] + stats + std_cols + trend_cols]

for perc in perc_stats:
    stat = perc.split('_')[0]
    opp = perc.split('_')[-1]
    if opp == 'opp':
        if stat == 'ast':
            last_15[perc] = last_15[stat + '_opp'] / last_15['fg_opp']
        elif stat == 'efg':
            last_15[perc] = (last_15['fg_opp'] + (.5 * last_15['3p_opp'])) / last_15['fga_opp']
        else:
            last_15[perc] = last_15[stat + '_opp'] / last_15[stat + 'a_opp']
    else:
        if stat == 'ast':
            last_15[perc] = last_15[stat] / last_15['fg']
        elif stat == 'efg':
            last_15[perc] = (last_15['fg'] + (.5 * last_15['3p'])) / last_15['fga']
        else:
            last_15[perc] = last_15[stat] / last_15[stat + 'a']

        
last_15 = last_15.dropna(axis=0)
last_15.tail(10)

                                                          target         fg  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers       17.0  79.933333
           Utah Jazz              Oklahoma City Thunder     31.0  80.466667
2022-03-07 Atlanta Hawks          Detroit Pistons            0.0  82.466667
           Chicago Bulls          Philadelphia 76ers         0.0  83.400000
           Golden State Warriors  Denver Nuggets             0.0  83.466667
           Houston Rockets        Miami Heat                 0.0  78.800000
           Los Angeles Lakers     San Antonio Spurs          0.0  85.933333
           New York Knicks        Sacramento Kings           0.0  79.800000
           Portland Trail Blazers Minnesota Timberwolves     0.0  82.400000
           Utah Jazz              Dallas Mavericks           0.0  81.400000

                                                                 fga  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     172.600000
           Utah Jazz              Oklahoma City Thunder   176.000000
2022-03-07 Atlanta Hawks          Detroit Pistons         181.133333
           Chicago Bulls          Philadelphia 76ers      170.666667
           Golden State Warriors  Denver Nuggets          173.933333
           Houston Rockets        Miami Heat              170.800000
           Los Angeles Lakers     San Antonio Spurs       180.200000
           New York Knicks        Sacramento Kings        175.533333
           Portland Trail Blazers Minnesota Timberwolves  178.466667
           Utah Jazz              Dallas Mavericks        170.533333

                                                                 2p  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     57.000000
           Utah Jazz              Oklahoma City Thunder   54.866667
2022-03-07 Atlanta Hawks          Detroit Pistons         59.200000
           Chicago Bulls          Philadelphia 76ers      61.933333
           Golden State Warriors  Denver Nuggets          55.000000
           Houston Rockets        Miami Heat              52.266667
           Los Angeles Lakers     San Antonio Spurs       62.533333
           New York Knicks        Sacramento Kings        56.733333
           Portland Trail Blazers Minnesota Timberwolves  54.133333
           Utah Jazz              Dallas Mavericks        51.600000

                                                                 2pa  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     110.533333
           Utah Jazz              Oklahoma City Thunder   101.400000
2022-03-07 Atlanta Hawks          Detroit Pistons         115.333333
           Chicago Bulls          Philadelphia 76ers      112.400000
           Golden State Warriors  Denver Nuggets           95.666667
           Houston Rockets        Miami Heat               97.133333
           Los Angeles Lakers     San Antonio Spurs       114.266667
           New York Knicks        Sacramento Kings        107.200000
           Portland Trail Blazers Minnesota Timberwolves   99.533333
           Utah Jazz              Dallas Mavericks         92.533333

                                                                 3p  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     22.933333
           Utah Jazz              Oklahoma City Thunder   25.600000
2022-03-07 Atlanta Hawks          Detroit Pistons         23.266667
           Chicago Bulls          Philadelphia 76ers      21.466667
           Golden State Warriors  Denver Nuggets          28.466667
           Houston Rockets        Miami Heat              26.533333
           Los Angeles Lakers     San Antonio Spurs       23.400000
           New York Knicks        Sacramento Kings        23.066667
           Portland Trail Blazers Minnesota Timberwolves  28.266667
           Utah Jazz              Dallas Mavericks        29.800000

                                                                3pa  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     62.066667
           Utah Jazz              Oklahoma City Thunder   74.600000
2022-03-07 Atlanta Hawks          Detroit Pistons         65.800000
           Chicago Bulls          Philadelphia 76ers      58.266667
           Golden State Warriors  Denver Nuggets          78.266667
           Houston Rockets        Miami Heat              73.666667
           Los Angeles Lakers     San Antonio Spurs       65.933333
           New York Knicks        Sacramento Kings        68.333333
           Portland Trail Blazers Minnesota Timberwolves  78.933333
           Utah Jazz              Dallas Mavericks        78.000000

                                                                ast  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     46.666667
           Utah Jazz              Oklahoma City Thunder   46.533333
2022-03-07 Atlanta Hawks          Detroit Pistons         49.000000
           Chicago Bulls          Philadelphia 76ers      47.733333
           Golden State Warriors  Denver Nuggets          53.533333
           Houston Rockets        Miami Heat              49.000000
           Los Angeles Lakers     San Antonio Spurs       53.266667
           New York Knicks        Sacramento Kings        47.333333
           Portland Trail Blazers Minnesota Timberwolves  51.800000
           Utah Jazz              Dallas Mavericks        46.600000

                                                             fg_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     79.133333
           Utah Jazz              Oklahoma City Thunder   84.466667
2022-03-07 Atlanta Hawks          Detroit Pistons         84.000000
           Chicago Bulls          Philadelphia 76ers      83.466667
           Golden State Warriors  Denver Nuggets          82.666667
           Houston Rockets        Miami Heat              81.800000
           Los Angeles Lakers     San Antonio Spurs       87.733333
           New York Knicks        Sacramento Kings        84.933333
           Portland Trail Blazers Minnesota Timberwolves  82.133333
           Utah Jazz              Dallas Mavericks        80.800000

                                                             fga_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     170.800000
           Utah Jazz              Oklahoma City Thunder   179.133333
2022-03-07 Atlanta Hawks          Detroit Pistons         174.666667
           Chicago Bulls          Philadelphia 76ers      178.200000
           Golden State Warriors  Denver Nuggets          175.866667
           Houston Rockets        Miami Heat              171.066667
           Los Angeles Lakers     San Antonio Spurs       179.800000
           New York Knicks        Sacramento Kings        177.133333
           Portland Trail Blazers Minnesota Timberwolves  174.333333
           Utah Jazz              Dallas Mavericks        172.000000

                                                             2p_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     55.000000
           Utah Jazz              Oklahoma City Thunder   60.266667
2022-03-07 Atlanta Hawks          Detroit Pistons         58.200000
           Chicago Bulls          Philadelphia 76ers      61.600000
           Golden State Warriors  Denver Nuggets          57.266667
           Houston Rockets        Miami Heat              58.000000
           Los Angeles Lakers     San Antonio Spurs       63.266667
           New York Knicks        Sacramento Kings        58.333333
           Portland Trail Blazers Minnesota Timberwolves  55.600000
           Utah Jazz              Dallas Mavericks        58.333333

                                                             2pa_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     102.133333
           Utah Jazz              Oklahoma City Thunder   108.333333
2022-03-07 Atlanta Hawks          Detroit Pistons         109.533333
           Chicago Bulls          Philadelphia 76ers      114.400000
           Golden State Warriors  Denver Nuggets          105.066667
           Houston Rockets        Miami Heat              102.400000
           Los Angeles Lakers     San Antonio Spurs       113.666667
           New York Knicks        Sacramento Kings        104.600000
           Portland Trail Blazers Minnesota Timberwolves  100.466667
           Utah Jazz              Dallas Mavericks        107.733333

                                                             3p_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     24.133333
           Utah Jazz              Oklahoma City Thunder   24.200000
2022-03-07 Atlanta Hawks          Detroit Pistons         25.800000
           Chicago Bulls          Philadelphia 76ers      21.866667
           Golden State Warriors  Denver Nuggets          25.400000
           Houston Rockets        Miami Heat              23.800000
           Los Angeles Lakers     San Antonio Spurs       24.466667
           New York Knicks        Sacramento Kings        26.600000
           Portland Trail Blazers Minnesota Timberwolves  26.533333
           Utah Jazz              Dallas Mavericks        22.466667

                                                            3pa_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     68.666667
           Utah Jazz              Oklahoma City Thunder   70.800000
2022-03-07 Atlanta Hawks          Detroit Pistons         65.133333
           Chicago Bulls          Philadelphia 76ers      63.800000
           Golden State Warriors  Denver Nuggets          70.800000
           Houston Rockets        Miami Heat              68.666667
           Los Angeles Lakers     San Antonio Spurs       66.133333
           New York Knicks        Sacramento Kings        72.533333
           Portland Trail Blazers Minnesota Timberwolves  73.866667
           Utah Jazz              Dallas Mavericks        64.266667

                                                            ast_opp  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     51.533333
           Utah Jazz              Oklahoma City Thunder   50.333333
2022-03-07 Atlanta Hawks          Detroit Pistons         52.533333
           Chicago Bulls          Philadelphia 76ers      49.200000
           Golden State Warriors  Denver Nuggets          49.800000
           Houston Rockets        Miami Heat              49.266667
           Los Angeles Lakers     San Antonio Spurs       51.666667
           New York Knicks        Sacramento Kings        52.400000
           Portland Trail Blazers Minnesota Timberwolves  55.200000
           Utah Jazz              Dallas Mavericks        46.733333

                                                             fg_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers      9.777788
           Utah Jazz              Oklahoma City Thunder   10.128911
2022-03-07 Atlanta Hawks          Detroit Pistons         10.056268
           Chicago Bulls          Philadelphia 76ers      10.805752
           Golden State Warriors  Denver Nuggets           8.388873
           Houston Rockets        Miami Heat               7.001394
           Los Angeles Lakers     San Antonio Spurs       10.160361
           New York Knicks        Sacramento Kings         8.608875
           Portland Trail Blazers Minnesota Timberwolves  10.129757
           Utah Jazz              Dallas Mavericks         9.378151

                                                            fga_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     12.375248
           Utah Jazz              Oklahoma City Thunder   11.376002
2022-03-07 Atlanta Hawks          Detroit Pistons         13.989436
           Chicago Bulls          Philadelphia 76ers      12.200592
           Golden State Warriors  Denver Nuggets           9.840653
           Houston Rockets        Miami Heat              12.862337
           Los Angeles Lakers     San Antonio Spurs       12.632753
           New York Knicks        Sacramento Kings        13.176218
           Portland Trail Blazers Minnesota Timberwolves  15.009200
           Utah Jazz              Dallas Mavericks        11.614813

                                                             2p_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers      8.372732
           Utah Jazz              Oklahoma City Thunder   10.392120
2022-03-07 Atlanta Hawks          Detroit Pistons          9.177632
           Chicago Bulls          Philadelphia 76ers       9.090770
           Golden State Warriors  Denver Nuggets          10.438546
           Houston Rockets        Miami Heat               7.962340
           Los Angeles Lakers     San Antonio Spurs        9.772495
           New York Knicks        Sacramento Kings         8.429942
           Portland Trail Blazers Minnesota Timberwolves   7.521363
           Utah Jazz              Dallas Mavericks         9.884044

                                                            2pa_std    3p_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     13.042511  7.004174
           Utah Jazz              Oklahoma City Thunder   14.460332  6.102871
2022-03-07 Atlanta Hawks          Detroit Pistons         16.112582  7.503913
           Chicago Bulls          Philadelphia 76ers      15.891001  6.134896
           Golden State Warriors  Denver Nuggets          12.199089  5.219255
           Houston Rockets        Miami Heat              10.373667  6.277575
           Los Angeles Lakers     San Antonio Spurs       14.582185  6.791552
           New York Knicks        Sacramento Kings        13.949645  3.902037
           Portland Trail Blazers Minnesota Timberwolves  13.354851  7.616031
           Utah Jazz              Dallas Mavericks        12.412950  6.359148

                                                            3pa_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     12.034208
           Utah Jazz              Oklahoma City Thunder   10.928970
2022-03-07 Atlanta Hawks          Detroit Pistons         10.486776
           Chicago Bulls          Philadelphia 76ers       8.188502
           Golden State Warriors  Denver Nuggets           9.548013
           Houston Rockets        Miami Heat              11.158993
           Los Angeles Lakers     San Antonio Spurs        8.162482
           New York Knicks        Sacramento Kings        10.212989
           Portland Trail Blazers Minnesota Timberwolves   9.406712
           Utah Jazz              Dallas Mavericks         9.203618

                                                            ast_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers     10.240059
           Utah Jazz              Oklahoma City Thunder    8.421910
2022-03-07 Atlanta Hawks          Detroit Pistons          9.694720
           Chicago Bulls          Philadelphia 76ers       9.479623
           Golden State Warriors  Denver Nuggets           7.862969
           Houston Rockets        Miami Heat               6.888288
           Los Angeles Lakers     San Antonio Spurs        8.718525
           New York Knicks        Sacramento Kings         7.483315
           Portland Trail Blazers Minnesota Timberwolves   8.087363
           Utah Jazz              Dallas Mavericks         9.944340

                                                          fg_opp_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers       9.631883
           Utah Jazz              Oklahoma City Thunder    10.005566
2022-03-07 Atlanta Hawks          Detroit Pistons           9.386826
           Chicago Bulls          Philadelphia 76ers        7.588112
           Golden State Warriors  Denver Nuggets            8.277192
           Houston Rockets        Miami Heat               10.823961
           Los Angeles Lakers     San Antonio Spurs        10.090683
           New York Knicks        Sacramento Kings          8.107022
           Portland Trail Blazers Minnesota Timberwolves   10.346111
           Utah Jazz              Dallas Mavericks          9.192625

                                                          fga_opp_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers       11.934652
           Utah Jazz              Oklahoma City Thunder     14.317108
2022-03-07 Atlanta Hawks          Detroit Pistons           10.961207
           Chicago Bulls          Philadelphia 76ers        15.188296
           Golden State Warriors  Denver Nuggets            11.651048
           Houston Rockets        Miami Heat                12.510304
           Los Angeles Lakers     San Antonio Spurs         14.361833
           New York Knicks        Sacramento Kings          14.050529
           Portland Trail Blazers Minnesota Timberwolves    12.347666
           Utah Jazz              Dallas Mavericks          12.970521

                                                          2p_opp_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers       7.521993
           Utah Jazz              Oklahoma City Thunder    10.138319
2022-03-07 Atlanta Hawks          Detroit Pistons           8.306890
           Chicago Bulls          Philadelphia 76ers        9.402801
           Golden State Warriors  Denver Nuggets            7.354651
           Houston Rockets        Miami Heat               10.278271
           Los Angeles Lakers     San Antonio Spurs         9.574301
           New York Knicks        Sacramento Kings          9.223514
           Portland Trail Blazers Minnesota Timberwolves    9.948267
           Utah Jazz              Dallas Mavericks         10.715564

                                                          2pa_opp_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers       15.145701
           Utah Jazz              Oklahoma City Thunder     18.518025
2022-03-07 Atlanta Hawks          Detroit Pistons           11.308903
           Chicago Bulls          Philadelphia 76ers        19.388532
           Golden State Warriors  Denver Nuggets            13.265808
           Houston Rockets        Miami Heat                15.577044
           Los Angeles Lakers     San Antonio Spurs         13.189871
           New York Knicks        Sacramento Kings          15.750680
           Portland Trail Blazers Minnesota Timberwolves    15.129173
           Utah Jazz              Dallas Mavericks          18.004113

                                                          3p_opp_std  \
date       visitor                home
2022-03-06 Toronto Raptors        Cleveland Cavaliers       6.152380
           Utah Jazz              Oklahoma City Thunder     7.513233
2022-03-07 Atlanta Hawks          Detroit Pistons           6.698746
           Chicago Bulls          Philadelphia 76ers        7.519204
           Golden State Warriors  Denver Nuggets            6.325584
           Houston Rockets        Miami Heat                7.207317
           Los Angeles Lakers     San Antonio Spurs         5.148918
           New York Knicks        Sacramento Kings          6.395910

## Correlations

In [43]:
corr_df = pd.DataFrame()

# Correlations for last 15 game stats vs 3pt made (unweighted)
for col in last_15:
    corr_p = pearsonr(last_15['target'], last_15[col])
    row = {'stat': col, 'corr': round(corr_p[0], 2), 'p-value': round(corr_p[1], 2)}
    corr_df = corr_df.append(row, ignore_index=True)
    
# Print correlation
corr_df = corr_df[corr_df['p-value'] < .05].drop(['p-value'], axis=1).sort_values(['corr'], axis=0, ascending=False)
corr_df

    corr           stat
0   1.00         target
6   0.74            3pa
5   0.73             3p
13  0.69        3pa_opp
12  0.68         3p_opp
46  0.52       efg_perc
44  0.52        2p_perc
9   0.50        fga_opp
19  0.49         3p_std
49  0.48    2p_perc_opp
2   0.48            fga
8   0.47         fg_opp
14  0.47        ast_opp
1   0.47             fg
51  0.45   efg_perc_opp
20  0.44        3pa_std
7   0.43            ast
26  0.38     3p_opp_std
27  0.29    3pa_opp_std
52  0.23   ast_perc_opp
47  0.19       ast_perc
24  0.12     2p_opp_std
45  0.12        3p_perc
43  0.11        fg_perc
22  0.10     fg_opp_std
48  0.09    fg_perc_opp
25  0.07    2pa_opp_std
28  0.06    ast_opp_std
17  0.05         2p_std
15  0.05         fg_std
34  0.05      3pa_trend
33  0.03       3p_trend
41  0.02  3pa_opp_trend
50  0.02    3p_perc_opp
18  0.02        2pa_std
36  0.02   fg_opp_trend
40  0.01   3p_opp_trend
32 -0.03      2pa_trend
21 -0.04        ast_std
16 -0.04        fga_std
23 -0.04    fga_opp_std
10 -0.22         2p_opp
3  -0.34             2p
11 -0.47        2pa_opp
4  -0.57            2pa

## Save dataframe with significantly correlated stats

In [45]:
stats = corr_df[corr_df['corr'].abs() >= .6]['stat']
df = last_15[stats]

df.to_csv('backend/data/inputs/3p/shooting.csv')